<!--  -->
<html>

    <body class="body" id="homePageBody">

        <br />
        <h4 id="homePageHeader">Final Project: Winery Co-op</h4>
        <h2 id="homePageSubHeader">Login details incorrect.</h2>
        <h3>Please try again.</h3>

        <br />
        <button id="goHome" onclick="goHome()">Go home</button>
        <script src="script.js"></script>

    </body>

</html>