<!--  -->
<html>

    <body class="body" id="homePageBody">

        <br />
        <h4 id="homePageHeader">Final Project: Winery Co-op</h4>
        <h1 id="homePageSubHeader">Successfully Logged Out</h1>

        <br />
        <button id="goHome" onclick="goHome()">Go home</button>
        <script src="script.js"></script>

    </body>

</html>