<!DOCTYPE html>
<html>

<head>
  <title>Online Art Gallery Database</title>
  <meta charset="UTF=8">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>

<body class="body" id="customersBody">

  <ul>
    <li><button class="homeButton" type="button" onclick="location.href='/'">HOME</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/artists'">Artists</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/customers'">Customers</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/galleries'">Galleries</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/orders'">Orders</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/paintings'">Paintings</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/search'">Custom Search</button></li>
  </ul>

  <h1>Customers Results:</h1>

  <!--Display our current data table-->
  <table id="currentTable">
    <th>Customer ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
    <th></th>

    {{#each dataList}}
    <tr id="newRow">
      <td id="customerID">{{this.customerID}}</td>
      <td id="customerFirstName">{{this.customerFirstName}}</td>
      <td id="customerLastName">{{this.customerLastName}}</td>

      <td><button type="button" onclick="deleteRow('currentTable',this)">Delete</button></td>
      <td><button type="button" onclick="location.href='/updateCustomers'">Update</button>
        <!--EXAMPLE when hooked to backend:
      <td><button type="button" onclick="location.href='/updateArtists?id='+{{this.artistID}}">Update</button> -->
      </td>
    </tr>
    {{/each}}
  </table>


  <!-- If no information in table, show text saying no information -->
  <h3 id="noDataTag"></h3>

  <br><br>

  <form>
    <fieldset>
      <legend>Add a Customer</legend>
      <label for="customerFirstNameLabel">Customer First Name: </label>
      <input type="text" name="customerFirstNameForm" id="customerFirstNameForm"></input>
      <br>
      <label for="customerLastNameLabel">*Customer Last Name: </label>
      <input type="text" name="customerLastNameForm" id="customerLastNameForm"></input>
      <br>
      <div id="customerAdderButton">
      </div>

      <p id="requirement">* required entry</p>

      <!-- display any missing NOT NULL items -->
      <div><b id="addErrorNameCustomerFirstName"></b></div>
      <div><b id="addErrorNameCustomerLastName"></b></div>

      <!-- display successfull add comment -->
      <span id="addSuccess"></span>
    </fieldset>
  </form>

  <script src="customersScript.js"></script>
</body>

</html>