<!--  -->
<html>

<head>
    <meta charset="UTF=8">
    <title>Online Art Gallery Database</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>

<body class="body" id="homePageBody">

    <h4 id="homePageHeader">The Art Gallery</h4>

    <button class="homePageButton" type="button" onclick="location.href='/artists'">Artists</button><br><br>
    <button class="homePageButton" type="button" onclick="location.href='/customers'">Customers</button><br><br>
    <button class="homePageButton" type="button" onclick="location.href='/galleries'">Galleries</button><br><br>
    <button class="homePageButton" type="button" onclick="location.href='/paintings'">Paintings</button><br><br>
    <button class="homePageButton" type="button" onclick="location.href='/orders'">Orders</button><br><br>
    <button class="homePageButton" type="button" onclick="location.href='/search'">Custom Search</button><br><br>


    <script src="portNumber.js"></script>

</body>

</html>